{% extends "home/post.html" %}

{% load crispy_forms_tags %}

{% block extra %}
<h5>Phishing: <span class="text-danger"> {{ is_phishing }} </span> </h5>
<h5>Not Phishing Votes: <span class="text-success"> {{ not_phishing }} </span> </h5>
<h2>Comments</h2>
{% for comment in comments %}
  <p><span class="font-weight-bold"> {{ comment.userId.user.username }} </span>: {{ comment.text }}</p>
{% endfor %}
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Create comment:</legend>
        {{ comment_form | crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Post</button>
    </div>
</form>

{% endblock extra %}